@use 'sass:math';
$icon-path: "../images/";
body {
    background-image: url('#{$icon-path}background.avif'); 
    background-size: cover;             
    background-position: center;        
    background-repeat: no-repeat;       
    background-attachment: fixed;       
    min-height: 100vh;                 
    display: flex;                     
    flex-direction: column;            
          
      
  }
  @function rem($pixels) {
    $rem-value: math.div($pixels, 16); 
    @return #{$rem-value}rem; 
  }
  .banner {
    height: 50vh;
    width: auto;
    text-align: center;
    padding: 10%;
    color: rgb(15, 12, 13);
    .banner-text{
      font-size: rem(18);
    }
    button {
      margin-top: auto;          
      background-color: $primary-color;
      color: white;
      padding: 10px;
      margin:20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }
  }
  