.product-card {
    opacity: 0.95;
    
    margin: auto;
    background-color: white;
    display: flex;                     // Flexbox layout
    flex-direction: column;            // Stack items vertically
    align-items: center;               // Center the items horizontally
    height: 400px;
    justify-content: space-between;    // Space out the elements
    padding: 20px;                     // Padding inside the card
    border: 1px solid #ccc;            // Light border
    border-radius: 10px;               // Rounded corners
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Add shadow for depth
    transition: transform 0.3s ease;   // Transition effect              // Set a fixed height for all product cards
  
    &:hover {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
  
    h3 {
      color: $primary-color;
      margin: 10px 0;            // Add margin for spacing
    }
  
    p {
      text-align: center;         // Center text
    }
    .product-image {
      width: 100%;                     // Image takes full width of card
                          // Preserve aspect ratio
      height: 200px;                    // Fixed height for all images
      object-fit: cover;
      border-radius: 8px;              // Rounded corners for the image
      margin-bottom: 15px;             // Space between image and title
    }
  
    button {
      margin-top: auto;          // Push button to the bottom of the card
      background-color: $primary-color;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }
  }
  